body {
  color: white;
  background-image: url(images/fondo.jpg);
  background-size: cover;
  font-family: sans-serif;
  margin: 3px;
  padding: 0;
}

header {
  margin: 0 90px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(3, 43, 59, 1);
  box-shadow: inset -2px 2px 2px rgb(9, 55, 77);
}

h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

section {
  padding: 50px;
  margin: 90px;
  border-radius: 5px;
  background: rgba(9, 55, 77, 0.8);
  box-shadow: inset -2px 2px 2px rgb(3, 43, 59);
}

footer {
  margin: 0 90px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  background: rgba(3, 43, 59, 1);
  box-shadow: inset -2px 2px 2px rgb(9, 55, 77);
}

#sobre-mi p {
  margin: 20px 45px;
}

.proyecto {
  max-width: 70%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}

#contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  justify-content: center;
  padding: 0;
}

.redes li {
  margin: 0 10px;
  list-style: none;
}

textarea {
  color: white;
  padding: 10px;
  height: 300px;
  width: 55%;
  resize: none;
  border: 1px solid white;
  border-radius: 5px;
  background:rgb(9, 55, 77);
}

a {
  color: white;
  flex-direction: row;
}

#proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

